[submodule "external/tlx"]
	path = external/tlx
	url = https://github.com/tlx/tlx.git
[submodule "external/ips4o"]
	path = external/ips4o
	url = https://github.com/SaschaWitt/ips4o.git
[submodule "external/growt"]
	path = external/growt
	url = https://github.com/TooBiased/growt.git
[submodule "external/KaDiS"]
	path = external/KaDiS
	url = https://github.com/MichaelAxtmann/KaDiS.git
[submodule "external/graphs"]
	path = external/graphs
	url = https://github.com/mschimek/graphs.git
[submodule "external/backward"]
	path = external/backward
	url = https://github.com/kamping-site/bakward-mpi.git
[submodule "parlay_fork"]
	path = external/parlay
	url = https://github.com/mschimek/parlaylib.git
