[submodule "external/tlx"]
	path = external/tlx
	url = https://github.com/tlx/tlx.git
[submodule "external/ips4o"]
	path = external/ips4o
	url = https://github.com/SaschaWitt/ips4o.git
[submodule "external/growt"]
	path = external/growt
	url = https://github.com/TooBiased/growt.git
[submodule "external/KaDiS"]
	path = external/KaDiS
	url = https://github.com/MichaelAxtmann/KaDiS.git
[submodule "external/parlay"]
	path = external/parlay
	url = https://github.com/cmuparlay/parlaylib.git
[submodule "external/graphs"]
	path = external/graphs
	url = https://github.com/mschimek/graphs.git
[submodule "external/backward"]
	path = external/backward
	url = https://github.com/kamping-site/bakward-mpi.git
[submodule "external/abseil"]
	path = external/abseil
	url = https://github.com/abseil/abseil-cpp.git
[submodule "external/Catch2"]
	path = external/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "external/gbbs-fork"]
	path = external/gbbs-fork
	url = https://git.scc.kit.edu/jj1592/gbbs-fork.git
